@media (max-width:768px) {
/* trigger */
.trigger {
  display: block;
  width: 24px;
  height: 14px;
  position: absolute;
  top:20px;
  right: 20px;
  }
  /* 모든 요소는 포지션값을 주면 inline 값으로 변환한다 그래서 span요소임에도 넓이를 가질수있다 
  그래서 display:block값을 굳이 안줘도 된다  */
  .trigger span{
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: black;
    transition:0.5s;
  }
  .trigger span:nth-child(1){
    top:0;
  }
  .trigger span:nth-child(2){
    top:50%;
    width: 80%;
  }
  .trigger span:nth-child(3){
    top:100%
  }
  
  .trigger.active span:nth-child(1){
    top:50%;
    transform:rotate(45deg)
  }
  .trigger.active span:nth-child(2){
    top:50%;
    width: 80%;
    opacity:0;
  }
  .trigger.active span:nth-child(3){
    top:50%;
    transform:rotate(-45deg)
  }
}