@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-size: 16px;
}

.container-1260 {
  max-width: 1260px;
  width: 100%;
  margin: auto;
}

/* search x버튼 안보이게 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button {
  background: none;
  border: none;
  outline: none;
}




/* brand sub-page */
.brand-sub-page {
  max-width: 1260px;
  height: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background: #fff;
  color: #000;
  box-sizing: content-box;
}

.brand-sub-page .brand__header {
  position: relative;
  margin: 0 0 30px 0;
  padding: 65px 0 32px;
  text-align: center;
  border-bottom: 1px solid #efefef;
}

.brand-sub-page .brand__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  text-transform: uppercase;
}

.brand-sub-page .brand__body {
  padding-top: 30px;
}

.brand-sub-page .brand__footer__logo {
  width: 100%;
  height: 15vw;
  background: url(https://lifework2018.speedgabia.com/renewal/logo2.jpg);
  background-size: 35vw;
  background-position: center 2vw;
  background-repeat: no-repeat;
}

.brand-sub-page .brand__footer__nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.brand-sub-page .brand__footer__nav li {
  width: 33.333%;
  text-align: center;
  padding: 14px 0 10px;
  font-weight: 500;
}

.brand-sub-page .brand__footer__nav li a {
  font-size: 15px;
}

@media (min-width:320px) {
  .brand-sub-page {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
  }

  .brand-sub-page .brand__header {
    padding: 35px 0 20px;
  }

  .brand-sub-page .brand__footer__logo {
    background-size: 80vw;
    background-position: center 4vw;
    height: 35vw;
  }
}

@media (min-width:767px) {

  .brand-sub-page .brand__footer__logo {
    width: 100%;
    height: 15vw;
    background: url(https://lifework2018.speedgabia.com/renewal/logo2.jpg);
    background-size: 35vw;
    background-position: center 2vw;
    background-repeat: no-repeat;
  }

}

@media (min-width:1024px) {
  .brand-sub-page {
    max-width: 1260px;
    height: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    background: #fff;
    color: #000;
    box-sizing: content-box;
  }

  .brand-sub-page .brand__header {
    margin: 0 0 30px 0;
    padding: 65px 0 32px;
  }

  .brand-sub-page .about__video {
    margin: 5%;
  }
}