/* common.css */
@import url('/css/common/common.css');

/* 모바일 헤더 */
.mobile-header {
  display: none;
}
/* 모바일헤더 end */
.header {
  color: #fff;
  background-color: #000000;
}
.header__inner {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 30px;
  height: 94px;
}
.header__inner-left {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a img {
  width: 100px;
  height: 32px;
}
.gnb > ul {
  display: flex;
  margin-left: 60px;
}
.gnb a {
  color: #fff;
}
.gnb a:hover {
  color: #666;
}
.gnb__main {
  position: relative;
}
.gnb__main-btn {
  position: relative;
  display: block;
  margin-right: 30px;
  height: 50px;
  line-height: 50px;
}
.gnb__main:last-child {
  margin-right: 0;
}
.gnb__main-btn:after {
  content:'';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  transition: 0.3s;
  background-color: #666;
}
.gnb__main:hover .gnb__sub {
  display: block;
}
.gnb__main-btn:hover::after {
  width: 100%;
}
.gnb__sub {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 135px;
  padding:15px 5px 30px 10px;
  background-color: #000;
}
.gnb__sub li {
  text-align: left;
  margin-right: 30px;
  min-height: 35px;
}
.gnb__sub li a {
  font-size: 14px;
  color: #fff;
}

/* lnb */
.lnb {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.lnb li {
  display: flex;
  align-items: center;
  min-width:40px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.lnb__btn {
  color: #666;
}
.lnb__cart {
  display: flex;
}
.lnb__cart div:nth-child(1) {
  margin-right: 5px;
}
.lnb .lnb__cart .cart-amount {
  font-size: 12px;
  color: #fff;
  font-style: normal;
}
button {
  display: block;
  width: 45px;
  height: 30px;
  outline: none;
  border: none;
  background-color: #000;
  cursor: pointer;
}
.search-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('/assets/icon/icon-search.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin-left: 12.5px;
  margin-bottom: 10px;
}

/* 반응형 */
@media (min-width:320px) and (max-width:1510px) {
  .header__inner{
    padding: 0;
    display: none;
  }
  .mobile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 84px;
  }
  /* 햄버거 버튼 */
  .trigger {
    position: relative;
    width: 22px;
    height: 15px;
    transition: 0.5s;
  }
  .trigger span {
    position: absolute;
    height: 3px;
    background: #fff;
    transition: 0.5s;
  }
  .trigger span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .trigger span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
  }
  .trigger span:nth-child(3) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  /* 버튼 애니메이션 */
  .trigger.active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2){
    display: none;
  }
  .trigger.active span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
  }
  .mobile-logo {
    width: 100px;
    height: 32px;
  }
  .mobile-logo img {
    width: 100%;
    height: 100%;
  }
  .mobile-cart {
    position: relative;
    width: 45px;
    height: 34px;
    color: #fff;
  }
  .mobile-cart .icon-cart {
    display: block;
    color: #Fff;
  }
  .mobile-cart .icon-cart img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .mobile-cart .icon-cart span {
    position: absolute;
    top: 0;
    right: 30px;
    color: #fff;
  }
}